@charset 'utf-8';

@media screen and (max-width:1000px) {
	div[data-menu-close] {width:100%; height:40px; background-color:#2b52a7; text-align:right; transition-property:visibility, right, left;}
	div[data-menu-close]:after {display:inline-block; width:10px; height:100%;}

	/* 메뉴를 열었을때 */
	.menu_open [data-menu-type] + div[data-menu-close] {visibility:visible;}
}