@charset 'utf-8';

/* 초기화 */
nav {display:block;}
html, body, div, p, h1, h2, ul, li, button, nav {margin:0; padding:0; border:0 none transparent; font-size:inherit; font-family:inherit;}
button {background-color:transparent; cursor:pointer;}
ul, ul li {list-style-type:none;}
a:link {color:#636363; text-decoration:none;}
a:visited {color:#636363; text-decoration:none;}
a:hover {color:#0030ae; text-decoration:underline;}
a:active {color:#0030ae; text-decoration:underline;}

/* 기본 */
html, body {position:relative; height:100%;}
body {overflow-x:auto; overflow-y:hidden; min-width:1200px; background-color:#000; font-family:'Malgun Gothic', '맑은 고딕', 'Dotum', '돋움', sans-serif; word-break:break-all;}
:before, :after {display:none; content:'';}
.clearfix:after {display:block; visibility:hidden; overflow:hidden; clear:both; position:relative; width:0; height:0;}
.clearfix {display:inline-block;}
.clearfix {display:block;}
.skip {display:block; overflow:hidden; position:absolute; top:0; left:0; z-index:90; width:1px; height:1px; background-color:transparent; font-size:0;}

/* 공통 */
div[data-menu-open], div[data-menu-open]:before, div[data-menu-open]:after, div[data-menu-open] *, div[data-menu-open] :before, div[data-menu-open] :after, [data-menu-type], [data-menu-type]:before, [data-menu-type]:after, [data-menu-type] *, [data-menu-type] :before, [data-menu-type] :after, div[data-menu-close], div[data-menu-close]:before, div[data-menu-close]:after, div[data-menu-close] *, div[data-menu-close] :before, div[data-menu-close] :after {transition:all 0.25s linear;}
div[data-menu-open]:before, div[data-menu-open]:after, div[data-menu-open] :before, div[data-menu-open] :after, [data-menu-type]:before, [data-menu-type]:after, [data-menu-type] :before, [data-menu-type] :after, div[data-menu-close]:before, div[data-menu-close]:after, div[data-menu-close] :before, div[data-menu-close] :after {background-repeat:no-repeat; background-position:center center; font-size:0; vertical-align:middle;}
div[data-menu-open], div[data-menu-close] {visibility:hidden; position:absolute;}
div[data-menu-open] button[data-menu-button], div[data-menu-close] button[data-menu-button] {display:inline-block; position:relative; font-size:0;}
[data-menu-type], div[data-menu-open], div[data-menu-close] {line-height:0px; font-size:0;}
[data-menu-type] {position:relative;}
[data-menu-type][data-menu-top-background]:before, [data-menu-type][data-menu-bottom-background]:after {display:block; position:absolute; right:0; left:0; margin-right:auto; margin-left:auto;}
[data-menu-type][data-menu-top-background]:before {top:0; z-index:10;}
[data-menu-type][data-menu-bottom-background]:after {z-index:20;}
[data-menu-type] div[data-menu-title] {position:relative; z-index:20;}
[data-menu-type] div[data-menu-title='1'], [data-menu-type] div[data-menu-title='2'] {overflow:hidden; position:absolute; left:0;}
[data-menu-type] div[data-menu-title='2'] {visibility:hidden; opacity:0; top:0; height:100%;}
[data-menu-type] div[data-menu-depth] {visibility:hidden; overflow:hidden; position:relative;}
[data-menu-type] div[data-menu-depth='1'] {visibility:inherit; overflow:visible; z-index:30; height:100%; margin-right:auto; margin-left:auto;}
[data-menu-type] div[data-menu-depth='1'].clearfix div[data-menu-depth='2'] {position:static;}
[data-menu-type] ul[data-menu-list] {position:relative;}
[data-menu-type] div[data-menu-depth='1'].clearfix ul[data-menu-list='1'] {position:static;}
[data-menu-type] div[data-menu-title] + ul[data-menu-list] {z-index:10;}
[data-menu-type] ul[data-menu-list='1'] {height:100%;}
[data-menu-type] div[data-menu-depth='1'].clearfix ul[data-menu-list='1'] {float:right;}
[data-menu-type] ul[data-menu-list] > li {position:relative;}
[data-menu-type] ul[data-menu-list].clearfix > li {float:left;}
[data-menu-type] ul[data-menu-list='1'] > li {height:100%;}
[data-menu-type] div[data-menu-depth='1'].clearfix ul[data-menu-list='1'] > li {position:static;}
[data-menu-type] ul[data-menu-list] > li.has > [data-menu-text]:before, [data-menu-type] a[data-menu-text][target='_blank']:after {display:inline-block; width:1px; height:1px;}
[data-menu-type] ul[data-menu-list] > li.has > [data-menu-text]:before {content:'하위메뉴가 존재하는';}
[data-menu-type] ul[data-menu-list] > li.cut {overflow:hidden; width:100%; height:0;}
[data-menu-type] [data-menu-text] {display:block; position:relative; vertical-align:middle;}
[data-menu-type] a[data-menu-text][target='_blank']:after {content:'새창';}

/* 풀다운2 */
[data-menu-type='2'] div[data-menu-title='2'] {visibility:inherit; opacity:1;}
[data-menu-type='2'] div[data-menu-depth='2'], [data-menu-type='2'] div[data-menu-depth='1'].clearfix div[data-menu-depth='2'] {position:absolute;}
[data-menu-type='2'] div[data-menu-depth='2'] {opacity:0; left:0; width:100%;}
[data-menu-type='2'] ul[data-menu-list='1'] > li {position:static;}

/* 드롭다운1 */
[data-menu-type='3'] div[data-menu-depth='1'].clearfix ul[data-menu-list='1'] {position:relative;}
[data-menu-type='3'] div[data-menu-depth='1'].clearfix ul[data-menu-list='1'] > li {position:relative;}
[data-menu-type='3'] div[data-menu-depth='2'] {position:absolute; top:100%; left:0; width:100%; transform-origin:center top; transform:scaleY(0);}

/* 드롭다운2 */
[data-menu-type='4'] div[data-menu-depth='1'] {z-index:auto; height:auto; margin-right:0; margin-left:0;}
[data-menu-type='4'] div[data-menu-depth='2'] {position:relative; left:auto; width:auto;}
[data-menu-type='4'] ul[data-menu-list='1'] {height:auto;}
[data-menu-type='4'] div[data-menu-depth='1'].clearfix ul[data-menu-list='1'] {position:relative;}
[data-menu-type='4'] ul[data-menu-list='1'] > li {height:auto;}
[data-menu-type='4'] div[data-menu-depth='1'].clearfix ul[data-menu-list='1'] > li {position:relative;}