@charset 'utf-8';

/* 초기화 */
article, aside, details, figcaption, figure, footer, header, main, menu, nav, section, summary {display:block;}
audio, canvas, progress, video {display:inline-block;}
html, body, div,  p, h1, h2, h3, h4, h5, h6, dl, dt, dd, ol, ul, li, blockquote, pre, button, fieldset, form, legend,
table, caption, tbody, tfoot, thead, tr, th, td, iframe, article, aside, canvas, details, embed,
figure, figcaption, header, footer, menu, nav, section, summary, audio, video {margin-top:0; margin-right:0; margin-bottom:0; margin-left:0; padding-top:0; padding-right:0; padding-bottom:0; padding-left:0; border-top-width:0; border-right-width:0; border-bottom-width:0; border-left-width:0; border-top-style:none; border-right-style:none; border-bottom-style:none; border-left-style:none; border-top-color:transparent; border-right-color:transparent; border-bottom-color:transparent; border-left-color:transparent; font-size:inherit; font-family:inherit;}

button {background-color:transparent; cursor:pointer;}
ul, ol, li {list-style-type:none;}
a:link {color:#636363; text-decoration:none;}
a:visited {color:#636363; text-decoration:none;}
a:hover {color:#0030ae; text-decoration:underline;}
a:active {color:#0030ae; text-decoration:underline;}

/* 메뉴 효과 */
.nav_open, .nav_close, .nav, div[data-menu-depth], a[data-menu-text], button[data-menu-text] {transition-property:none; transition-duration:0.25s; transition-timing-function:linear;}

/* 플러그인 공통 */
html, body {position:relative; height:100%;}
body {background-color:#000; font-family:'Malgun Gothic', '맑은 고딕', 'Dotum', '돋움', sans-serif; word-break:break-all;}
:before, :after {display:none; content:'';}
.clearfix:after {display:block; visibility:hidden; clear:both; content:'.'; overflow:hidden; width:0; height:0; font-size:0; line-height:0;}
.clearfix {display:inline-block;}
.clearfix {display:block;}
.skip {display:block; overflow-x:hidden; overflow-y:hidden; position:absolute; top:0; left:0; z-index:90; width:1px; height:1px; background-color:transparent; font-size:0; line-height:0;}
a[data-menu-text], button[data-menu-text] {display:block; position:relative; vertical-align:middle;}
ul[data-menu-list] > li:before, ul[data-menu-list] > li:after, a[data-menu-text]:before, a[data-menu-text]:after, button[data-menu-text]:before, button[data-menu-text]:after {background-repeat:no-repeat; background-position:center center; vertical-align:middle; font-size:0;}
ul[data-menu-list] > li {position:relative;}
ul[data-menu-list] > li.has > a[data-menu-text]:before, ul[data-menu-list] > li.has > button[data-menu-text]:before, a[data-menu-text][target='_blank']:after {display:inline-block; width:1px; height:1px;}
ul[data-menu-list] > li.has > a[data-menu-text]:before, ul[data-menu-list] > li.has > button[data-menu-text]:before {content:'하위메뉴가 존재하는';}
a[data-menu-text][target='_blank']:after {content:'새창';}
div[data-menu-title] {position:absolute; left:0;}
div[data-menu-title='1'] {top:100%; height:10000px;}
div[data-menu-title='2'] {top:0; height:100%;}
div[data-menu-depth] {visibility:hidden; overflow-x:hidden; overflow-y:hidden; position:relative; max-height:0; transition-property:visibility, max-height, margin-top, margin-bottom, padding-top, padding-bottom, border-top-width, border-bottom-width;}
div[data-menu-depth='1'] {visibility:visible; overflow-x:visible; overflow-y:visible; max-height:none; transition-property:none;}
div[data-menu-depth='1'].clearfix div[data-menu-title='1'] + ul[data-menu-list='1'] {float:right;}

/* 풀다운1 */
.nav {overflow-x:hidden; overflow-y:hidden; position:relative; font-size:0; line-height:0; transition-property:padding-bottom;}
.nav[data-menu-top-background]:before, .nav[data-menu-bottom-background]:after {display:block; position:absolute; right:0; left:0; margin-right:auto; margin-left:auto;}
.nav[data-menu-top-background]:before {top:0; z-index:10;}
.nav[data-menu-top-background]:after {z-index:20;}
.nav[data-menu-top-background='full']:before, .nav[data-menu-bottom-background='full']:after {width:100%;}
.nav .nav_wrap {position:relative; z-index:30; height:100%;}
.nav_open, .nav_close {visibility:hidden; position:absolute;}
.nav_open button, .nav_close button {width:100%; height:100%;}
.nav_open button, .nav_close button {background-repeat:no-repeat; background-position:center center; font-size:0; vertical-align:middle;}
.nav .depth1 {height:100%; margin-right:auto; margin-left:auto;}
.nav .depth1_list {height:100%;}
.nav .depth1_list.clearfix .depth1_item {float:left;}
.nav .depth1_item {height:100%;}
.nav .depth2 {position:absolute; top:100%; left:0; width:100%; height:10000px;}
.menu_active .nav .depth2 {visibility:visible;}
.nav .depth2_list.clearfix .depth2_item {float:left;}
.nav .depth2_list.clearfix li.cut {overflow-x:hidden; overflow-y:hidden; float:left; width:100%; height:0;}

/* 풀다운2 */
.nav[data-menu-type='2'] .depth1_item {position:static;}
.nav[data-menu-type='2'] .depth2 {opacity:0; transition-property:visibility, opacity, z-index, max-height, margin-top, margin-bottom, padding-top, padding-bottom, border-top-width, border-bottom-width;}
.menu_active .nav[data-menu-type='2'] .depth2 {visibility:hidden;}
.menu_active .nav[data-menu-type='2'] .depth1_item.active .depth2 {visibility:visible; opacity:1; z-index:10;}

/* 드롭다운 */
.menu_active .nav[data-menu-type='3'] .depth2 {visibility:hidden;}
.menu_active .nav[data-menu-type='3'] .depth1_item.active .depth2 {visibility:visible;}

/* 드롭다운2 */
.nav[data-menu-type='4'] {transition-property:visibility;}
.nav[data-menu-type='4'] .nav_wrap {z-index:auto; height:auto;}
.nav[data-menu-type='4'] .depth1 {height:auto; margin-right:0; margin-left:0;}
.nav[data-menu-type='4'] .depth1_list {height:auto;}
.nav[data-menu-type='4'] .depth1_item {height:auto;}
.nav[data-menu-type='4'] .depth2 {position:relative; top:auto; left:auto; width:auto; height:auto;}
.menu_active .nav[data-menu-type='4'] .depth2 {visibility:hidden;}
.menu_active .nav[data-menu-type='4'] .depth1_item.active .depth2 {visibility:visible;}
.menu_active .nav[data-menu-type='4'] .depth1_item.active .depth2_item.active .depth3 {visibility:visible;}