@charset 'utf-8';

[data-menu-type='3'][data-menu-top-background]:before {background-color:#2b52a7;}

/* 공통 */
[data-menu-type='3'] [data-menu-text] {font-size:16px; line-height:18px;}
[data-menu-type='3'] a[data-menu-text][target='_blank']:after {width:12px; height:12px; margin-left:5px;}

/* 1차메뉴 */
[data-menu-type='3'] ul[data-menu-list='1'] > li {width:20%; transition-property:z-index;}
[data-menu-type='3'] [data-menu-text='1'] {padding:11px 5px; color:#fff; text-align:center;}
[data-menu-type='3'] a[data-menu-text='1'][target='_blank']:after {background-image:url('../images/depth_text_white_blank.png');}

/* 1차메뉴 활성화 */
[data-menu-type='3'] ul[data-menu-list='1'] > li.active {z-index:10;}
[data-menu-type='3'] ul[data-menu-list='1'] > li.active [data-menu-text='1']:hover {text-decoration:none;}

/* 2차메뉴 */
[data-menu-type='3'] div[data-menu-depth='2'] {background-color:#fff; transition-property:visibility, opacity, transform;}
[data-menu-type='3'] ul[data-menu-list='2'] {padding:15px 5px;}
[data-menu-type='3'] ul[data-menu-list='2'] > li {margin-top:10px;}
[data-menu-type='3'] ul[data-menu-list='2'] > li:first-child {margin-top:0;}
[data-menu-type='3'] [data-menu-text='2'] {color:#222; text-align:center;}
[data-menu-type='3'] a[data-menu-text='1'][target='_blank']:after {background-image:url('../images/depth_text_black_blank.png');}

/* 2차메뉴 활성화 */
[data-menu-type='3'] ul[data-menu-list='1'] > li.active div[data-menu-depth='2'] {visibility:visible; opacity:1; transform:scaleY(1);}

/* 3차메뉴 */
[data-menu-type='3'] div[data-menu-depth='3'] {display:none;}

/* 메뉴높이 */
[data-menu-type='3'], [data-menu-type='3'][data-menu-top-background]:before {height:40px;}

/* 중앙정렬 넓이 */
[data-menu-type='3'] div[data-menu-depth='1'], [data-menu-type='3'][data-menu-top-background]:before {width:1200px;}
[data-menu-type='3'][data-menu-top-background='full']:before {width:100%;}