@charset 'utf-8';

@media screen and (max-width:1000px) {
	[data-menu-type='3'] {top:0; left:0; width:100%; height:100%; background-color:#3072c4;}
	[data-menu-type='3'][data-menu-effect='4'], [data-menu-type='3'][data-menu-effect='4'] + div[data-menu-close] {left:auto;}
	[data-menu-type='3'][data-menu-top-background]:before {background-color:transparent;}
	
	/* 메뉴를 열었을때 */
	.menu_open {overflow:hidden;}
	.menu_open [data-menu-type='3'] {visibility:visible;}

	/* 공통 */
	[data-menu-type='3'] ul[data-menu-list] > li.has > [data-menu-text]:before {width:0; height:0; background-image:url('../images/has_depth_ico_off.png');}
	[data-menu-type='3'] a[data-menu-text][target='_blank']:after {height:0; background-image:url('../images/depth_text_blank_white_ico.png');}
	[data-menu-type='3'] div[data-menu-depth='2'] [data-menu-text] {font-size:0; line-height:0px;}
	
	/* 공통 활성화 제거 */
	[data-menu-type='3'] ul[data-menu-list] > li.has.active > [data-menu-text]:before {background-image:url('../images/has_depth_ico_on.png');}

	/* 1차메뉴 */
	[data-menu-type='3'] div[data-menu-depth='1'] {padding-top:40px;}
	[data-menu-type='3'] ul[data-menu-list='1'] > li {width:auto;}
	[data-menu-type='3'] [data-menu-text='1'] {text-align:left;}
	[data-menu-type='3'] ul[data-menu-list='1'] > li.has > [data-menu-text='1']:before {width:12px; height:8px; margin-right:10px;}
	[data-menu-type='3'] a[data-menu-text='1'][target='_blank']:after {height:12px;}
	
	/* 1차메뉴 활성화 제거 */
	[data-menu-type='3'] ul[data-menu-list='1'] > li.active {z-index:auto;}

	/* 2차메뉴 */
	[data-menu-type='3'] div[data-menu-depth='2'] {background-color:#175898;}
	[data-menu-type='3'] ul[data-menu-list='2'] {padding-top:0; padding-bottom:0;}
	[data-menu-type='3'] ul[data-menu-list='2'] > li {margin-top:0;}
	[data-menu-type='3'] [data-menu-text='2'] {color:#fff; text-align:left;}

	/* 2차메뉴 활성화 제거 */
	[data-menu-type='3'] ul[data-menu-list='1'] > li.active div[data-menu-depth='2'] {visibility:hidden;}

	/* 2차메뉴 활성화 */
	.menu_open.menu_active [data-menu-type='3'] ul[data-menu-list='1'] > li.active div[data-menu-depth='2'] {visibility:visible;}
	[data-menu-type='3'] ul[data-menu-list='1'] > li.active ul[data-menu-list='2'] {padding-top:15px; padding-bottom:15px;}
	[data-menu-type='3'] ul[data-menu-list='1'] > li.active ul[data-menu-list='2'] > li {margin-top:10px;}
	[data-menu-type='3'] ul[data-menu-list='1'] > li.active ul[data-menu-list='2'] > li:first-child {margin-top:0;}
	[data-menu-type='3'] ul[data-menu-list='1'] > li.active [data-menu-text='2'] {font-size:16px; line-height:18px;}
	[data-menu-type='3'] ul[data-menu-list='1'] > li.active ul[data-menu-list='2'] > li.has > [data-menu-text='2']:before {width:12px; height:8px; margin-right:10px;}
	[data-menu-type='3'] ul[data-menu-list='1'] > li.active a[data-menu-text='2'][target='_blank']:after {height:12px;}

	/* 3차메뉴 */
	[data-menu-type='3'] div[data-menu-depth='3'] {display:block; background-color:#24478b;}
	[data-menu-type='3'] ul[data-menu-list='3'] {padding-right:20px; padding-left:20px; border-top:0 solid #175898;}
	[data-menu-type='3'] [data-menu-text='3'] {color:#fff;}

	/* 3차메뉴 활성화 */
	.menu_open.menu_active [data-menu-type='3'] ul[data-menu-list='1'] > li.active ul[data-menu-list='2'] > li.active div[data-menu-depth='3'] {visibility:visible;}
	[data-menu-type='3'] ul[data-menu-list='1'] > li.active ul[data-menu-list='2'] > li.active ul[data-menu-list='3'] {padding-top:20px; padding-bottom:20px; border-top-width:10px;}
	[data-menu-type='3'] ul[data-menu-list='1'] > li.active ul[data-menu-list='2'] > li.active ul[data-menu-list='3'] > li {margin-top:10px;}
	[data-menu-type='3'] ul[data-menu-list='1'] > li.active ul[data-menu-list='2'] > li.active ul[data-menu-list='3'] > li:first-child {margin-top:0;}
	[data-menu-type='3'] ul[data-menu-list='1'] > li.active ul[data-menu-list='2'] > li.active [data-menu-text='3'] {font-size:16px; line-height:18px;}
	[data-menu-type='3'] ul[data-menu-list='1'] > li.active ul[data-menu-list='2'] > li.active ul[data-menu-list='3'] > li.has > [data-menu-text='3']:before {width:12px; height:8px; margin-right:10px;}
	[data-menu-type='3'] ul[data-menu-list='1'] > li.active ul[data-menu-list='2'] > li.active a[data-menu-text='3'][target='_blank']:after {height:12px;}

	/* 4차메뉴 */
	[data-menu-type='3'] div[data-menu-depth='4'] {display:none;}

	/* 메뉴높이 */
	[data-menu-type='3'][data-menu-top-background]:before {height:auto;}
}