@charset 'utf-8';

@media screen and (max-width:1000px) {
	/* 위에서 아래로 슬라이드 효과 */
	.menu_open [data-menu-type][data-menu-effect='2'] {max-height:100%;}

	/* 왼쪽에서 오른쪽으로 슬라이드 효과 */
	.menu_open [data-menu-type][data-menu-effect='3'], .menu_open [data-menu-type][data-menu-effect='3'] + div[data-menu-close] {left:0;}

	/* 오른쪽에서 왼쪽으로 슬라이드 효과 */
	.menu_open [data-menu-type][data-menu-effect='4'], .menu_open [data-menu-type][data-menu-effect='4'] + div[data-menu-close] {right:0;}
}