@charset 'utf-8';

/* 풀다운1 */
.nav a {font-size:16px; line-height:18px;}
.nav a[target='_blank']:after {display:inline-block; width:12px; height:12px; margin-left:5px; background-image:url('../images/depth_text_blank_black_ico.png');}
.nav_open, .nav_close {top:0; left:0;}
.nav_open button {width:28px; height:28px; background-image:url('../images/open_btn_ico.png');}
.nav_close button {width:22px; height:23px; background-image:url('../images/close_btn_ico.png');}
.nav .depth1_item {width:20%;}
.nav .depth1_text {padding-top:11px; padding-right:5px; padding-bottom:11px; padding-left:5px; color:#fff; text-align:center;}
.nav .depth1_text[target='_blank']:after {background-image:url('../images/depth_text_blank_white_ico.png');}
.nav .depth2 {transition-property:visibility, max-height, margin-top, margin-bottom, padding-top, padding-bottom, border-top-width, border-bottom-width, background-color;}
.menu_active .nav .depth1_item.active .depth2 {background-color:#eee;}
.nav .depth2_list {padding-top:15px; padding-right:5px; padding-bottom:15px; padding-left:5px;}
.nav .depth2_item {margin-top:10px;}
.nav .depth2_item:first-child {margin-top:0;}
.nav .depth2_text {color:#222; text-align:center;}
.nav .depth3 {display:none;}

/* 풀다운2 */
.nav[data-menu-type='2'] .depth2 {transition-property:visibility, opacity, z-index, max-height, margin-top, margin-bottom, padding-top, padding-bottom, border-top-width, border-bottom-width;}
.nav[data-menu-type='2'] .depth2_text {text-align:left;}

/* 드롭다운 */
.nav[data-menu-type='3'] .depth2 {background-color:#fff; transition-property:visibility, max-height, margin-top, margin-bottom, padding-top, padding-bottom, border-top-width, border-bottom-width;}

/* 드롭다운2 */
.nav[data-menu-type='4'] a[target='_blank']:after {background-image:url('../images/depth_text_blank_white_ico.png');}
.nav[data-menu-type='4'] ul[data-menu-list] li.has > a:before {width:12px; height:8px; margin-right:10px; background-image:url('../images/has_depth_ico_off.png');}
.nav[data-menu-type='4'] ul[data-menu-list] li.has.active > a:before {background-image:url('../images/has_depth_ico_on.png');}
.nav[data-menu-type='4'] .depth1_item {width:auto;}
.nav[data-menu-type='4'] .depth1_text {text-align:left;}
.nav[data-menu-type='4'] .depth2 {transition-property:visibility, max-height, margin-top, margin-bottom, padding-top, padding-bottom, border-top-width, border-bottom-width;}
.nav[data-menu-type='4'] .depth2_text {color:#fff; text-align:left;}
.nav[data-menu-type='4'] .depth3 {display:block; padding-right:20px; padding-left:20px;}
.menu_active .nav[data-menu-type='4'] .depth1_item.active .depth2_item.active .depth3 {margin-top:20px; padding-top:20px; padding-bottom:20px;}
.nav[data-menu-type='4'] .depth3_text {color:#fff;}
.nav[data-menu-type='4'] .depth4 {display:none;}

/* 메뉴 배경 */
.nav[data-menu-top-background]:before {background-color:#2b52a7;}
.nav[data-menu-bottom-background]:after {background-color:#fff;}
.menu_active .nav[data-menu-type='2'] .depth1_item.active .depth2 {background-color:transparent;}
.menu_active .nav[data-menu-type='2'] .depth3 {background-color:#eee;}
.menu_active .nav[data-menu-type='3'] .depth1_item.active .depth2 {background-color:#fff;}
.nav[data-menu-type='4'] {background-color:#3072c4;}
.nav[data-menu-type='4'] .depth2 {background-color:#175898;}
.menu_active .nav[data-menu-type='4'] .depth1_item.active .depth2 {background-color:#175898;}
.nav[data-menu-type='4'] .depth3 {background-color:#24478b;}

/* 메뉴 높이 */
.nav, .nav[data-menu-top-background]:before {height:40px;}
.nav[data-menu-top-background]:after {top:40px;}
.nav[data-menu-bottom-background]:after {height:calc(100% - 40px);}
.nav[data-menu-type='4'] {height:auto;}

/* 중앙정렬 넓이 */
.nav .depth1, .nav[data-menu-top-background='wrap']:before, .nav[data-menu-bottom-background='wrap']:after {width:1200px;}
.nav[data-menu-type='4'] .depth1, .nav[data-menu-type='4'][data-menu-top-background='wrap']:before, .nav[data-menu-type='4'][data-menu-bottom-background='wrap']:after {width:auto;}