@charset 'utf-8';

@media screen and (max-width:1000px) {
	/* 풀다운1 */
	.nav_close {width:100%; height:40px; background-color:#2b52a7; text-align:right;}
	.nav_close:after {display:inline-block; width:10px; height:100%; vertical-align:middle;}
	.nav {top:0; left:0; width:100%; height:100%; background-color:#3072c4;}
	.nav .nav_wrap {padding-top:40px;}
	.nav a[target='_blank']:after {background-image:url('../images/depth_text_blank_white_ico.png');}
	.nav ul[data-menu-list] > li.has > a:before {width:12px; height:8px; margin-right:10px; background-image:url('../images/has_depth_ico_off.png');}
	.nav ul[data-menu-list] > li.has.active > a:before {background-image:url('../images/has_depth_ico_on.png');}
	.nav .depth1_item {width:auto;}
	.nav .depth1_text {text-align:left;}
	.nav .depth2 {transition-property:visibility, max-height, margin-top, margin-bottom, padding-top, padding-bottom, border-top-width, border-bottom-width;}
	.nav .depth2_text {color:#fff; text-align:left;}
	.nav .depth3 {display:block;}
	.nav .depth4 {display:none;}
	.nav .depth3_list {padding-top:20px; padding-right:20px; padding-bottom:20px; padding-left:20px; border-top-width:20px; border-top-style:solid; border-top-color:#175898; background-color:#24478b;}
	.nav .depth3_item {margin-top:10px;}
	.nav .depth3_item:first-child {margin-top:0;}
	.nav .depth3_text {color:#fff;}

	/* 풀다운2 */
	.nav[data-menu-type='2'] .depth2 {transition-property:visibility, max-height, margin-top, margin-bottom, padding-top, padding-bottom, border-top-width, border-bottom-width;}
	.nav[data-menu-type='2'] .depth3_text {color:#fff;}

	/* 메뉴 배경 */
	.nav[data-menu-top-background]:before {background-color:transparent;}
	.nav[data-menu-bottom-background]:after {background-color:transparent;}
	.nav .depth2 {background-color:#175898;}
	.menu_active .nav .depth1_item.active .depth2 {background-color:#175898;}
	.menu_open.menu_active .nav .depth1_item.active .depth2 {background-color:#175898;}
	.menu_active .nav[data-menu-type='2'] .depth1_item.active .depth2 {background-color:#175898;}
	.menu_open.menu_active .nav[data-menu-type='2'] .depth1_item.active .depth2 {background-color:#175898;}
	.menu_active .nav[data-menu-type='2'] .depth3 {background-color:#24478b;}
	.menu_open.menu_active .nav[data-menu-type='2'] .depth3 {background-color:#24478b;}
	.nav[data-menu-type='3'] .depth2 {background-color:#175898;}
	.menu_active .nav[data-menu-type='4'] .depth1_item.active .depth2 {background-color:#175898;}
	.menu_open.menu_active .nav[data-menu-type='4'] .depth1_item.active .depth2 {background-color:#175898;}

	/* 우측에서 나오는 효과 */
	.nav[data-menu-effect='4'], .nav[data-menu-effect='4'] + .nav_close {left:auto;}
}