@charset 'utf-8';

[data-menu-type='2'][data-menu-top-background]:before {background-color:#2b52a7;}
[data-menu-type='2'][data-menu-bottom-background]:after {background-color:#fff;}

/* 제목상자 */
[data-menu-type='2'] div[data-menu-title] {width:300px; background-color:#005caa;}
[data-menu-type='2'] div[data-menu-title] p {color:#fff; font-size:15px; line-height:17px; text-align:center;}

/* 공통 */
[data-menu-type='2'] [data-menu-text] {font-size:16px; line-height:18px;}
[data-menu-type='2'] a[data-menu-text][target='_blank']:after {width:12px; height:12px; margin-left:5px; background-image:url('../images/depth_text_blank_black_ico.png');}

/* 1차메뉴 */
[data-menu-type='2'] div[data-menu-depth='1'].clearfix ul[data-menu-list='1'] {width:900px;}
[data-menu-type='2'] ul[data-menu-list='1'] > li {width:20%;}
[data-menu-type='2'] [data-menu-text='1'] {padding-top:11px; padding-right:5px; padding-bottom:11px; padding-left:5px; color:#fff; text-align:center;}
[data-menu-type='2'] a[data-menu-text='1'][target='_blank']:after {background-image:url('../images/depth_text_blank_white_ico.png');}

/* 2차메뉴 */
[data-menu-type='2'] ul[data-menu-list='2'] {padding-top:15px; padding-right:5px; padding-bottom:15px; padding-left:5px;}
[data-menu-type='2'] div[data-menu-depth='1'].clearfix ul[data-menu-list='2'], [data-menu-type='2'] div[data-menu-title='2'] + ul[data-menu-list='2'], [data-menu-type='2'].title1 ul[data-menu-list='2'] {padding-left:300px;}
[data-menu-type='2'] ul[data-menu-list='2'] > li {margin-top:10px;}
[data-menu-type='2'] ul[data-menu-list='2'] > li:first-child {margin-top:0;}
[data-menu-type='2'] [data-menu-text='2'] {color:#222;}

/* 3차메뉴 */
[data-menu-type='2'] div[data-menu-depth='3'] {display:none;}

/* 활성화 */
.menu_active [data-menu-type='2'] ul[data-menu-list='1'] > li.active div[data-menu-depth='2'] {visibility:visible; opacity:1; z-index:10;}

/* 높이 */
[data-menu-type='2'], [data-menu-type='2'][data-menu-top-background]:before {height:40px;}
[data-menu-type='2'][data-menu-bottom-background]:after, [data-menu-type='2'].title1 div[data-menu-title='1'], [data-menu-type='2'] div[data-menu-depth='2'] {top:40px; height:calc(100% - 40px);}

/* 중앙정렬 넓이 */
[data-menu-type='2'] div[data-menu-depth='1'], [data-menu-type='2'][data-menu-top-background]:before, [data-menu-type='2'][data-menu-bottom-background]:after {width:1200px;}
[data-menu-type='2'][data-menu-top-background='full']:before, [data-menu-type='2'][data-menu-bottom-background='full']:after {width:100%;}