@charset 'utf-8';

[data-menu-type='1'] {transition-property:height;}
[data-menu-type='1'][data-menu-top-background]:before {background-color:#2b52a7;}
[data-menu-type='1'][data-menu-bottom-background]:after {background-color:#fff;}

/* 공통 */
[data-menu-type='1'] [data-menu-text] {font-size:16px; line-height:18px;}
[data-menu-type='1'] [data-menu-text][target='_blank']:after {width:12px; height:12px; margin-left:5px;}

/* 제목상자 */
[data-menu-type='1'] div[data-menu-title] {width:300px; background-color:#005caa;}
[data-menu-type='1'] div[data-menu-title='2'] {transition-property:visibility, opacity;}
[data-menu-type='1'] div[data-menu-title] p {color:#fff; font-size:15px; line-height:17px; text-align:center;}

/* 제목상자 활성화 */
[data-menu-type='1'] div[data-menu-depth='1'].clearfix ul[data-menu-list='1'] > li.active div[data-menu-title='2'] {visibility:visible; opacity:1;}

/* 1차메뉴 */
[data-menu-type='1'] div[data-menu-depth='1'].clearfix ul[data-menu-list='1'] {width:900px;}
[data-menu-type='1'] ul[data-menu-list='1'] > li {width:20%;}
[data-menu-type='1'] [data-menu-text='1'] {padding:11px 5px; color:#fff; text-align:center;}
[data-menu-type='1'] [data-menu-text='1'][target='_blank']:after {background-image:url('../images/depth_text_white_blank.png');}

/* 2차메뉴 */
[data-menu-type='1'] div[data-menu-depth='2'] {transition-property:visibility, background-color;}
[data-menu-type='1'] ul[data-menu-list='2'] {padding:15px 5px;}
[data-menu-type='1'] ul[data-menu-list='2'] > li {margin-top:10px;}
[data-menu-type='1'] ul[data-menu-list='2'] > li:first-child {margin-top:0;}
[data-menu-type='1'] [data-menu-text='2'] {color:#222; text-align:center;}
[data-menu-type='1'] [data-menu-text='2'][target='_blank']:after {background-image:url('../images/depth_text_black_blank.png');}

/* 2차메뉴 활성화 */
.menu_active [data-menu-type='1'] div[data-menu-depth='2'] {visibility:visible;}
[data-menu-type='1'] ul[data-menu-list='1'] > li.active div[data-menu-depth='2'] {background-color:#eee;}

/* 3차메뉴 */
[data-menu-type='1'] div[data-menu-depth='3'] {display:none;}

/* 메뉴높이 */
[data-menu-type='1'], [data-menu-type='1'][data-menu-top-background]:before {height:40px;}
[data-menu-type='1'][data-menu-bottom-background]:after, [data-menu-type='1'] div[data-menu-title] {top:40px;}
[data-menu-type='1'][data-menu-bottom-background]:after, [data-menu-type='1'] div[data-menu-title], [data-menu-type='1'] div[data-menu-depth='2'] {height:calc(100% - 40px);}

/* 중앙정렬 넓이 */
[data-menu-type='1'] div[data-menu-depth='1'], [data-menu-type='1'][data-menu-top-background]:before, [data-menu-type='1'][data-menu-bottom-background]:after {width:1200px;}
[data-menu-type='1'][data-menu-top-background='full']:before, [data-menu-type='1'][data-menu-bottom-background='full']:after {width:100%;}